<div class="view-wrapper" style="margin: 5px">

  <dx-data-grid
                #dataGridClientes
                noDataText=""
                height="100%"
                [dataSource]="this.dataSource"
                [allowColumnReordering]="true"
                [focusedRowEnabled]="true"
                (onRowClick)="rowClick($event)"
                (onExporting)="onExporting($event)"
                [hoverStateEnabled]="true"
                [showBorders]="true"
                [rowAlternationEnabled]="true"
                [repaintChangesOnly]="true"
                [editing]="{allowAdding:true, allowDeleting:true, allowUpdating:true, mode:'form', useIcons:true, refreshMode: 'full'}"
  >

    <dxo-paging [pageSize]="15"></dxo-paging>
    <dxo-pager [visible]="true" [showPageSizeSelector]="true"></dxo-pager>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-filter-row  [visible]="true" ></dxo-filter-row>
<!--    <dxo-load-panel [showPane]="true"></dxo-load-panel>-->
    <!--    <dxo-scrolling mode="virtual"></dxo-scrolling>-->
    <dxo-selection
      selectAllMode="allPages"
      showCheckBoxesMode="always"
      mode="single"
    ></dxo-selection>
    <dxo-sorting mode="multiple"></dxo-sorting>

    <dxo-search-panel
      [visible]="true"
      placeholder="Pesquisar clientes"
    ></dxo-search-panel>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>

    <dxo-export
      [enabled]="true"
      [allowExportSelectedData]="true"
      [formats]="['xlsx', 'pdf']"
    >
    </dxo-export>

    <dxi-column
      dataField="nome_completo"
      caption="Nome Completo"
      sortOrder="asc"
    >
      <dxi-validation-rule type="required" message="Campo obrigatório!"></dxi-validation-rule>
    </dxi-column>

    <dxi-column
      dataField="email"
      caption="Email"
    >
      <dxi-validation-rule type="required" message="Campo obrigatório!"></dxi-validation-rule>
      <!--      <dxi-validation-rule type="email" message="Campo inválido!"></dxi-validation-rule>-->
    </dxi-column>

    <dxi-column
      dataField="telefone"
      caption="Telefone"
      [customizeText]="customizePhoneCell"
    >
      <dxi-validation-rule type="required" message="Campo obrigatório!"></dxi-validation-rule>
    </dxi-column>

    <dxi-column
      dataField="endereco"
      caption="Endereço"
    >
      <dxi-validation-rule type="required" message="Campo obrigatório!"></dxi-validation-rule>
    </dxi-column>

    <dxi-column
      dataField="cidade"
      caption="Cidade"
    >
      <dxi-validation-rule type="required" message="Campo obrigatório!"></dxi-validation-rule>
    </dxi-column>

    <dxi-column
      dataField="uf"
      caption="UF"
      [width]="80"
    >

      <dxi-validation-rule type="required" message="Campo obrigatório!"></dxi-validation-rule>
      <dxi-validation-rule
        type="pattern"
        [pattern]="ufRegex"
        message="Sigla Estado formato inválido (deve conter 2 caracteres)">
      </dxi-validation-rule>
    </dxi-column>

    <dxi-column caption="Ações" type="buttons" [width]="110">
      <dxi-button name="edit"></dxi-button>
      <dxi-button name="delete"></dxi-button>
    </dxi-column>

  </dx-data-grid>

<!--  <contact-panel-->
<!--    [userId]="userId"-->
<!--    [(isOpened)]="isPanelOpened"-->
<!--    (isOpenedChange)="onOpenedChange($event)"-->
<!--    (pinnedChange)="onPinnedChange()"-->
<!--  >-->
<!--  </contact-panel>-->
</div>
